### ** Quiz 3 List, Tuple, set and dictionary(2) continued
1.  change, add, remove the collections of items
2.  apply the methods and functions for each type

### 1.  Create a list, tuple, set with the following items: apple, banana, orange , kiwi, apple

In [84]:
#a. create a list: mylist=

mylist=['apple','banana','orange','kiwi','apple']
myList='apple banana orange kiwi apple'.split() #bryan did this
print(myList)

['apple', 'banana', 'orange', 'kiwi', 'apple']

In [74]:
# b. Create a tuple: mytuple=
mytuple=('apple','banana','orange','kiwi','apple')
print(mytuple)

('apple', 'banana', 'orange', 'kiwi', 'apple')

In [99]:
#c. Create a set: myset=
myset={'apple','banana','orange','kiwi','apple'}
print(myset)

{'apple', 'orange', 'banana', 'kiwi'}

In [119]:
# d. Create a dictionay with the following 1: apple, 2: orange, 3: Kiwi, 4: orange: mydict=
mydict={
    1:'apple',
    2:'orange',
   3:'kiwi',
    4:'orange'
}
print(mydict)

{1: 'apple', 2: 'orange', 3: 'kiwi', 4: 'orange'}

### 2.  Change an item in the list, set or dictionary ( tutple is unchangable or unmuted)

In [22]:
# a. For a list: To change the value of a specific item, refer to the index number:
# list[0] = 5  change the first item to 5 for the list

# change the 2nd item of the list and print the new list:

mylist[1]= 'pineapple'
print(mylist)

['apple', 'pineapple', 'orange', 'kiwi', 'apple']

In [26]:
# change the 1st to the 3rd items in mylist and print the new list: 
# example: using slicing: list[0:4] =["Kiwi", "apple", "peach"]
# change the 2nd to 4th items in mylist: 
mylist[2:]=['byran is bad','im bad at coding']
print(mylist)

['apple', 'banana', 'byran is bad', 'im bad at coding']

In [34]:
# insert new item: To insert a new list item, without replacing any of the existing values, we can use the insert() method.

# The insert(2, " new value") method inserts an item at the specified index

# insert new fruit to 4th item of mylist and print mylist: 

mylist.insert(3,'dragonfruit')
print(mylist)

['apple', 'banana', 'orange', 'dragonfruit', 'kiwi', 'apple']

In [17]:
# b. Tuple is unmutable but we can convert the tuple into list and then change the item and convert it back to tuple:
# Example 
T= ("a,b,c,d".split(","))
y=list(T)
y[1]="m"
x= tuple(y)
print(y)

['a', 'm', 'c', 'd']

In [36]:
# Change the 3rd item of mytuple into " peach":

sub=list(mytuple)
sub[2]='peach'
mytuple=tuple(sub)
print(mytuple)

('apple', 'banana', 'peach', 'kiwi', 'apple')

In [43]:

print([(item,id(item)) for item in myset]  )

[('apple', 2557513550704), ('orange', 2557513550832), ('banana', 2557513550768), ('kiwi', 2557513550896)]

In [22]:
# c. can you change an item in a set by converting it to a list and then change an item? Try it with myset:
D= {"a","b", "c", "d"}
print([(item,id(item)) for item in D]  )  # want to see the id(item) in the set that's how the set order the item in  desc
M=list(D)      # conver the set into list
M[1]="n"        # change the 2nd item in the list M
print(M)         # print out the list M
Y=set(M)       # convert it back to set
print(Y)              # print out the new set and oviously the id of the string " n" is smaller than the id of the string"c"

[('c', 2831068076440), ('a', 2831068211272), ('d', 2831068123464), ('b', 2831068209592)]
['c', 'n', 'd', 'b']
{'n', 'c', 'd', 'b'}

In [39]:
# change the 2nd item in myset( hint onvert it to list first):
sub=list(myset)
sub[1]='durian'
myset=set(sub)
print(myset)

{'apple', 'durian', 'banana', 'kiwi'}

In [ ]:
# d. For a dictionary : You can change the value of a specific item by referring to its key name:
# change the value for the 2nd key name in mydict:             example: Dict[1]= "pie"

In [26]:
# Use mydict.update({old key name: new value}) to change the value for the 3rd key name: 
# Example:
dict1 = {1: "m", 2: "L"}
dict1.update({1:[1,2,3,4]})  # change the value of key 1 to a list from "m"
print(dict1)

{1: [1, 2, 3, 4], 2: 'L'}

In [46]:
# change the value of the 1st item in mydict using update() method
mydict.update({1:'rambutan'})
print(mydict)

{1: 'rambutan', 2: 'orange', 3: 'kiwi', 4: 'orange'}

In [47]:
# Question: can you use update() method to change an item in a list?
mylist.update({}) #lol no you can't

AttributeError: 'list' object has no attribute 'update'

### 3.  add item to the list, tuple and dictionary

In [60]:
# a. For a list: To add an item to the end of the list, use the append() method:
# example:
newlist= [1,2,3,4]
newlist.append(5)
newlist

[1, 2, 3, 4, 5]

In [32]:
newlist.append((1,2,4)) # you could add any iterable object( tuple, set and dict)
newlist

[1, 2, 3, 4, 5, (1, 2, 4)]

In [48]:
# Add an object " Hi" to mylist:
mylist.append('Hi')
mylist

['apple', 'banana', 'orange', 'dragonfruit', 'kiwi', 'apple', 'Hi']

In [61]:
# To insert a list item at a specified index, use the insert() method: 
newlist.insert(2, "Hi")  # insert a new object to the location with index 2 which is the 3rd item in the list
newlist

[1, 2, 'Hi', 3, 4, 5]

In [53]:
# add "Hello" to mylist using insert() method:

mylist.insert(0, 'Hello')
mylist

['Hello', 'apple', 'banana', 'orange', 'kiwi', 'apple']

In [62]:
# To add elements from another list or any iterable object( tuple, set, dict) to the current list, use the extend() method
newlist.extend(tuple([1,2,3]))
newlist

[1, 2, 'Hi', 3, 4, 5, 1, 2, 3]

In [65]:
# add items from another set S={8,7,9} to mylist using extend() method:
S={8,7,9}
mylist.extend(S)
mylist

['Hello', 'apple', 'banana', 'orange', 'kiwi', 'apple', 8, 9, 7, 8, 9, 7]

#### b. Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple
####  b1. convert tuple to a list use the above list method to add items
#### b2. you are allowed to add tuple to another tuple using +

In [36]:

#  make a new tuple with one item in it with , and then add it to the existing tuple:
tuple=(1,2,36)
T=("I",)
tuple+=T
print(tuple)

(1, 2, 36, 'I')

In [75]:
# Now add item "Happy" to mytuple using either b1 or b2:
hm=('Happy',)
mytuple+=hm
print(mytuple)

('apple', 'banana', 'orange', 'kiwi', 'apple', 'Happy')

####  c. For a set: Once a set is created, you cannot change its items, but you can add new items
#c1 use add() method to add a new item
#### c2: To add items from another set into the current set, use the update() method.
####  The object in the update() method does not have to be a set,
####  it can be any iterable object (tuples, lists, dictionaries etc.)

In [69]:
#C2. Add a list[4,5,6,7] to myset using update() method and print out the new set:
list=[4,5,6,7]
myset.update(list)
print(myset)

{'orange', 4, 5, 6, 7, 'banana', 'apple', 'kiwi'}

In [70]:
print([(item,id(item)) for item in myset]  )

[('orange', 2557513550832), (4, 140710999500688), (5, 140710999500720), (6, 140710999500752), (7, 140710999500784), ('banana', 2557513550768), ('apple', 2557513550704), ('kiwi', 2557513550896)]

In [73]:
# c1 Add item "Hello"  to myset using add() function
myset.add('Hello')
print(myset)

{'orange', 'banana', 'apple', 'kiwi', 'Hello'}

#### d. for a dictionary: 
####  d1: Adding an item to the dictionary is done by using a new index key and assigning a value to it  
D["new key"]="new value"
#### d2. The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.  Dict.update({new key: new value})

#### The argument must be a dictionary, or an iterable object withnew key:value pairs

In [78]:
# Use d1 or d2 method to add a new value " Hello" to a new key "L" to mydict and print the new dict:

mydict.update({'L':'Hello'})
mydict

{1: 'apple', 2: 'orange', 3: 'kiwi', 4: 'orange', 'L': 'Hello'}

### 4. remove an item from a list tuple set or dictionary:

####  a. for a list:
####  a1. The remove() method removes the specified item:--                            
list.remove("item")
#### a2. The pop() method removes the specified index:--                                
list.pop(2)  --remove the 3rd item
####  a3. If you do not specify the index, the pop() method removes the last item :              
list.pop()---remove the last item
#### a4. The del keyword also removes the specified index: --                             
del list[1] remove the 2nd item from the list
#### a5. The del keyword can also delete the list completely:  --                        
del list
#### a6. The clear() method empties the list.

#### The list still remains, but it has no content   
:           list.clear()

In [80]:
# print mylist

mylist

['apple', 'banana', 'orange', 'kiwi', 'apple']

In [81]:
# a1.remove the first item from mylist using list.remove("item") and print out the new list:

mylist.remove('kiwi')
print(mylist)

['apple', 'banana', 'orange', 'apple']

In [83]:
# a2. use list.pop(index #) to remove the 3rd item from mylist and print it out:

mylist.pop(2)
mylist

['apple', 'banana', 'kiwi', 'apple']

In [85]:
# a4. use del list[index #] to remove the 2nd item from my list: 
del mylist[1]
mylist

['apple', 'orange', 'kiwi', 'apple']

In [86]:
# a6. use list.clear() to clear the list  and print out the empty list:
mylist.clear()
print(mylist)

[]

####  b. can you remove an item from a tuple by using tuple.remove("item")?

In [ ]:
# try using remove() method to remove the 2nd item from mytuple.remove("2nd item"): need to find out what's the 2nd item

In [87]:
mytuple.remove("banana")
mytuple #lol cant do it

AttributeError: 'tuple' object has no attribute 'remove'

####  c. for a set:
#### c1. To remove an item in a set, use the remove(), or the discard() method
#### c2. use pop() method to remove the last item of the set

In [1]:
# example:
set= {"hi", 1,2,6}
set

{1, 2, 6, 'hi'}

In [5]:
#set.remove(1)
# print(set)
set.discard(6)
set

{2, 'hi'}

In [92]:
# Use remove("item") to remove the 1st item of myset:
myset.remove('apple')
myset

{'banana', 'kiwi', 'orange'}

In [95]:
# use discard("item") to remove the 3rd item from myset:
myset.discard('orange')
myset

{'apple', 'banana', 'kiwi'}

In [100]:
# use pop() to to remove the last item of myset:
myset.pop()
myset

{'banana', 'kiwi', 'orange'}

#### For a dictionary:
#### d1. The pop() method removes the item with the specified key name: Dict2= {2:"hi", 4:" Hello", " K": " Greeting"}
 Dict2.pop(2)
 #### d2. The popitem() method removes the last inserted item
 Dict2.popitem() remove "K":"Greeting"
 #### d3. The del keyword can also delete the dictionary completely
 del Dict2 all gone
 #### d4. The clear() method empties the dictionary
 Dict2.clear( ) empty the dict

In [6]:
# example 
D2=  {2:"hi", 4:" Hello", " K": " Greeting"}
D2.pop(2)  # pop the key 2 and its value

'hi'

In [7]:
D2 # see what;s left afte pop

{4: ' Hello', ' K': ' Greeting'}

In [123]:
# print out mydict
mydict
# use dict.pop(key name) to remove the 1st pair and print out the new dict:
mydict.pop(2)
print(mydict)

{3: 'kiwi', 4: 'orange'}

In [124]:
# use Dict.clear( ) to empty the dict:
mydict.clear()
mydict

{}

In [126]:
exec(bytes("㵬愢灰敬戠湡湡⁡牯湡敧欠睩⁩灡汰≥献汰瑩⤨","U16")[2:])
print(l)

['apple', 'banana', 'orange', 'kiwi', 'apple']