#  Quiz 2: List, tuple, set and dictionary(1)

##  ***4 built-in data types in Python used to store collections of data, they are List, Tuple,
##  Set, and Dictionary. 
##  all with different qualities and usage:
###  1. List: mylist = ["apple", "banana", "cherry", "apple"] --inside a  square brackets, List items are ordered, ### changeable, and allow duplicate values.

### List items are indexed, the first item has index [0], the second item has index [1] etc
###  2. Tuple: mytuple = ("apple", "banana", "cherry", " apple")--in round brackets, ordered ,  unchangable, ### allowed duplicate

###  3. Set: myset = {"apple", "banana", "cherry"},--in curly brackets,  both *unordered* and unindexed, 
### not alloweed duplicate

###  4. Dictionary: thisdict = {
###   "brand": "Ford",
###    "model": "Mustang",
###    "year": 1964
###    }  -- in curly brackets, and have keys and values; ordered, changeable and does not allow duplicates

### 1. Create a list, tuple , set and dictionay:

In [1]:
# a1. Create a list with items inside: apple, apple, orange, peach, banana, cherry and assign the list 
# to the variable mylist1 and print it:

mylist1=['apple','apple','orange','peach','banana','cherry']
print(mylist1)

In [2]:
# a2 create a list with numbers: 1,2,6,5,8,9,2 and assign it to the variablemylist2 and print it:

mylist2=[1,2,6,5,8,9,2]
print(mylist2)

[1, 2, 6, 5, 8, 9, 2]

In [3]:
# b1. Create a tuple with the items inside: apple, apple, orange, peach, banana, cherry and assign the tuple to 
# the variable mytuple1 and print it: 
mytuple1=('apple','apple','orange','peach','banana','cherry')
print(mytuple1)

('apple', 'apple', 'orange', 'peach', 'banana', 'cherry')

In [4]:
# b2. create a tuple with the numbers: 1,2,3,5,6,6,3 and assign it to a varaible mytuple2 and print it:

mytuple2=(1, 2, 3, 5, 6, 6, 3)
print(mytuple2)

(1, 2, 3, 5, 6, 6, 3)

In [5]:
# c1. Create a set with the items inside: apple, orange, peach, banana, cherry and assign the set to 
# the variable myset1 and display the set:
myset1={'apple','orange','peach','banana','cherry'}  # Question: why peach is placed before apple? 
print([(item, id(item)) for item in myset1])     
print(myset1)
help(id)  # use help() to find out what is id in python

[('peach', 2395723278968), ('orange', 2395722711928), ('banana', 2395723278352), ('cherry', 2395723279024), ('apple', 2395723279080)]
{'peach', 'orange', 'banana', 'cherry', 'apple'}
Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [6]:
# c2. create a set with numbers inside: 1,3,5,2,6,3,2 and assign/store it to a varaible myset2 and display the set: 

myset2={1,3,5,2,6,3,2}
print(myset2)
# lets also try id() here to find the identity of each number:
print([(item, id(item)) for item in myset2])  # a set is not ordered that means it will re-order the items by its identity in ascending order.

{1, 2, 3, 5, 6}
[(1, 140719431070544), (2, 140719431070576), (3, 140719431070608), (5, 140719431070672), (6, 140719431070704)]

In [7]:
# d1. Create a dictionary with the items inside: f1: apple, f2:orange,f3: peach,f4: banana, f5: cherry and assign the 
# dictionary to  the variable mydict1:

mydict1= {
    'f1':'apple',
    'f2':'orange',
    'f3':'peach',
    'f4':'banana',
    'f5':'cherry'
}

print(mydict1)

{'f1': 'apple', 'f2': 'orange', 'f3': 'peach', 'f4': 'banana', 'f5': 'cherry'}

In [8]:
# d2. Create a dictionary with the following pairs: 1: 2; 3:4, 5:6 as mydict2:
mydict2={1:2, 3:4, 5:6}
mydict2

{1: 2, 3: 4, 5: 6}

### 2. Access the list, tuple, set and dictionary:  
#### a. List items are indexed and you can access them by referring to the index number, inside square brackets. List[1]
#### b. Tuple items are indexed and you can access them by referring to the index number, inside square brackets; Tuple[0]
#### c. Sets are not indexed and you can't access them by index number
#### d. Dictionary : You can access the items of a dictionary by referring to its key name, inside square brackets  Dict["key"]

In [9]:
## Example:  Note: position of an item on the list, tuple and dictionary start with the index 0 
# List[0] is the first number on the list
mylist=[1,2,3,4]
print(mylist)# index for the list is 0, 1,2,3

[1, 2, 3, 4]

In [10]:
# access the 2nd item(idex 1) on the list: List[1]
mylist[1]

2

In [11]:
# a1.access the 2nd item of mylist1: 
mylist1[1]

'apple'

In [12]:
#a2.  print out the 3rd number in mylist2:
mylist1[2]

'orange'

In [13]:
# b1. access the 3rd item on mytuple1:
mytuple1[2]

'orange'

In [14]:
# b2. access the last item on mytuple2:  **  hint use index -1
mytuple1[-1]

'cherry'

In [15]:
## Range of Indexes for list and tuple: 
# You can specify a range of indexes by specifying where to start and where to end the range.

# When specifying a range, the return value will be a new list/tuple with the specified items.

# Example find the 2nd third and 4th numbers from mylist:
mylist=[1,2,3,4]
mylist[1:5]  # [starting index: ending index but not included]

[2, 3, 4]

In [16]:
# access the first 3 items on mytuple:
mytuple=('A B C D E'.split(" "))  # split the string by a blank space and return a collection  of items
print(mytuple)
mytuple[:4]  # find the first 4 item inside the square brackets the first index could be 0 [0:4]or just leave it blank

['A', 'B', 'C', 'D', 'E']

['A', 'B', 'C', 'D']

In [17]:
#a. Find the first 4 items from mylist1:

mylist1[:4]

['apple', 'apple', 'orange', 'peach']

In [18]:
# b. start from the first find every other item from:
mytuple=("1 2 3 4 5 6 7 8 9 10". split(" "))
mytuple
mytuple[::2]

['1', '3', '5', '7', '9']

In [19]:
# c1 and c2: sets are not indexed so you can't access to individual item in a particular set.
# but you could check if an item in a set:
myset={2,3,6,4,"Hi"}
print(5 in myset)
print("Hi" in myset)

False
True

In [20]:
# Can you also check if an object or item in a list or tuple using the same way?
mylist=[2,3,6,4,"Hi"]
mytuple=(2,3,6,4,"Hi")
print(2 in mylist)
print("Hi" in mytuple)

True
True

In [21]:
# d1: You can access the items of a dictionary by referring to its key name, inside square brackets:
# Find the value for the key " f5" from mydict1:
x= mydict1['f5']
print(x)

cherry

In [22]:
# d2: use method called get() to get the value for the key"f2" :
x=mydict1.get("f2")
print(x)

orange

In [23]:
# d3: Can you find out the key if you konw the corresponding value??:

s = mydict1.get('orange')
print(s)

None

In [24]:
mydict1["orange"]  # no you cannot find the key by using the value

KeyError: 'orange'