# Quiz 4  methods of list, tuple, set and dictionary:

#### List methods: 
append,clear(),copy(), sort(),insert(location, new item),pop(index), remove(item),reverse(),extend(), count(),index()

#### Tuple methods: count(), index()

#### Set methods: add(), union(set1,set2),   pop()-random item; remove(item),x.pdate(y) ;  discard(specific item); clear( )-all
intersection( ) -find the common items; copy()

#### Dictionary: copy(); clear(), update(key: value) -insert new pair; keys() ; values(), get(key), pop(key name); 
popitem()-remove the last inserted pair; 
item()-The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.
dict.fromkeys)-The fromkeys() method returns a dictionary with the specified keys and the specified value

### List methods:

In [11]:
# Create two lists: 
L1=['husky','golden retriever','pitbull']
L2= ['akita','bulldog','pug']

In [6]:
# Use append() method to add a new item to the end of L1
L1.append('eskimo')
print(L1)

['husky', 'golden retriever', 'pitbull', 'eskimo']

In [9]:
# join L1 and L2 and print out the new List L3
L3 = L1 + L2 
print(L3)

['husky', 'golden retriever', 'pitbull', 'akita', 'bulldog', 'pug']

In [7]:
# insert a new item to L2 on its 2nd position:
L2.insert(1, 'cocker spaniel')
print(L2)

['akita', 'cocker spaniel', 'bulldog', 'pug']

In [11]:
# remove an item from L1
L1.pop(1)
L1

['husky', 'pitbull']

In [3]:
# use pop(index) to remove the 3rd item from L2:
L2.pop(2)
L2

['akita', 'bulldog']

In [4]:
# use extend() to add L1 to L2 and print out the new list L3: 
L2.extend(L1)
L2

['akita', 'bulldog', 'husky', 'golden retriever', 'pitbull']

In [10]:
# sort the list L3:
L3.sort()
L3

['akita', 'bulldog', 'golden retriever', 'husky', 'pitbull', 'pug']

In [15]:
# find the index for L1: 
L1.index('pitbull')

2

#### Tuple  methods:

In [16]:
# create a tuple T1:
T1=('weeping willow','giant sequoia','blue spruce')
print(T1)

('weeping willow', 'giant sequoia', 'blue spruce')

In [18]:
# Count the items in T1
T1.count('giant sequoia')

1

In [19]:
# search the index of T1
T1.index('blue spruce')

2

In [22]:
# Create a new tuple T2 and join T1 and T2 together: 
T2=('banyan','silver maple','burflower tree')
T3 = T1 + T2
print(T3)

('weeping willow', 'giant sequoia', 'blue spruce', 'banyan', 'silver maple', 'burflower tree')

###  Sets Methods

In [50]:
# Create a set S1:
S1= {'cricket','moth','cicada'}
print(S1)

{'moth', 'cicada', 'cricket'}

In [26]:
# Use add("Item") to add an element to the set S1:
S1.add('honey bee')
S1

{'cicada', 'cricket', 'honey bee', 'moth'}

In [53]:
# Create 2nd set S2 and use S1.union(S2) to add all elements from S1 and S2, print out the new set S3:
S2= {'mosquito','stink bug','monarch butterfly'}
S3=S1.union(S2)
print(S3)

{'mosquito', 'stink bug', 'monarch butterfly', 'moth', 'cicada', 'cricket'}

In [37]:
# create two sets X and Y and use X.update(Y) to insert iterms from set Y to set X print out the new set : 
X= {'mealworm','superworm','silverfish'}
Y= {'firebrat','cockroach','earworm'}
X.update(Y)
print(X)

{'earworm', 'firebrat', 'silverfish', 'mealworm', 'superworm', 'cockroach'}

In [40]:
# Use X.pop() to remove a random item from set X:
X.pop()
X

{'cockroach', 'firebrat', 'mealworm', 'silverfish', 'superworm'}

In [48]:
# use remove(item) to remove a specific item from set S1 ---remove(item) will cause an error if the item does not exist: 
S1.remove('moth')

KeyError: 'moth'

In [49]:
print(S1)

{'cicada', 'cricket'}

In [51]:
# Use discard(item) to remove a specific item from set S2:
S2.discard('monarch butterfly')

In [52]:
print(S2)

{'mosquito', 'stink bug'}

In [54]:
# use X.intersection(Y) to find the items exist in both sets:
X.intersection(Y)

{'cockroach', 'firebrat'}

In [55]:
# use X.difference(Y) to find the items exist in X but not in Y:
X.difference(Y)

{'mealworm', 'silverfish', 'superworm'}

In [57]:
# use clear() to clear the items from S3:
S3.clear()
print(S3)

set()

###  Dictionary methods

In [74]:
# Create a dictionary with the keys-values pairs D1:
D1={
    1:'mount everest',
    2:'mount fuji',
    3:'matterhorn'
}
print(D1)

{1: 'mount everest', 2: 'mount fuji', 3: 'matterhorn'}

In [60]:
# use X=D1.copy() to return a copy of D1, print out X:
X=D1.copy()
print(X)

{1: 'mount everest', 2: 'mount fuji', 3: 'matterhorn'}

In [61]:
# use keys() to return a list K of all keys from D1:
D1.keys()

dict_keys([1, 2, 3])

In [62]:
# use values() to return a list of all values  V  from D1
D1.values()

dict_values(['mount everest', 'mount fuji', 'matterhorn'])

In [1]:
# use get(keyname) to get the value for the specific key: 
# example: 
D2= {"1": "apple", "2": "banana", "3": " cutie"}
x= D2.get("1")
x

'apple'

In [63]:
# use get(keyname) to get the value for the specific key from D1: 
D1.get(3)

'matterhorn'

In [65]:
# use update() to insert a new key-value pair to D1 and then print D1: 
D1.update({4:'mont blanc'})
print(D1)

{1: 'mount everest', 2: 'mount fuji', 3: 'matterhorn', 4: 'mont blanc'}

In [67]:
# use item() to return a list with tuples of the key-value pairs for D1:
D1.items()

dict_items([(1, 'mount everest'), (2, 'mount fuji'), (3, 'matterhorn'), (4, 'mont blanc')])

In [9]:
# When an item in the dictionary changes value, the view object also gets updated
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

car["year"] = 2018

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

In [10]:
car   # the dictionary also got update

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [73]:
# use dict.pop("keyname") to remove the value and key pair from D1:
D1.pop(4)
print(D1)

{1: 'mount everest', 2: 'mount fuji', 3: 'matterhorn'}

In [75]:
# Use popitem() to remove the last inserted item from the dictionary car: 

D1.popitem()

(3, 'matterhorn')

In [76]:
print(D1)

{1: 'mount everest', 2: 'mount fuji'}

In [79]:
# use  dict.fromkeys(keys, value (optiona)) to return a dictionary with the specified pairs:
# Value(optional) is for all the keys,

Keys= (1,2,3)
Values= ("A B C".split())
print(Values)
D3= dict.fromkeys(Keys, Values)
D3

['A', 'B', 'C']

{1: ['A', 'B', 'C'], 2: ['A', 'B', 'C'], 3: ['A', 'B', 'C']}

In [77]:
# Create a dictionary D4 with keys=("A", "B", " C") and value =none  : 
k1=('A','B','C')
D4=dict.fromkeys(k1)
D4

{'A': None, 'B': None, 'C': None}

In [80]:
# use clear() to clear all items from D3 and print out D3: 

D3.clear()
print(D3)

{}