### Built in math functions: min(), max(), abs(), pow(base,exp), 
### The math module: math.sqrt(),math.exp(base.exp), math.pi(), math.log(x,base),math.ceil(), math.floor()

In [1]:
import math
math.sqrt(4)

2.0

In [2]:
min(2,6) # find the minimum number between 2 and 6

2

In [3]:
max(2,6) # find the max between 2 and 6

6

In [4]:
abs(-3.5) # find the absolute value of -3.5

3.5

In [5]:
6/4  # 6 divided by 4

1.5

In [6]:
pow(4,2)  # find the number 4 to the power of 2

16

In [7]:
math.pow(4,2)  # math.pow(base, power) 4^2 = 16

16.0

In [8]:
pow(27,1/3) # return 27 to the power of 1/3 ( cube root of 27)

3.0

In [9]:
math.pi

3.141592653589793

In [10]:
math.log(2.72)  # only one number means the base is e-natural log. return natural log of 2.72

1.000631880307906

In [11]:
math.log(2,4)  # the base =4,  return the log -4 of 2 which is 1/2 # base 4 return 2 the answer if 1/2

0.5

In [12]:
math.ceil(2.45) # the nearset integer > x

3

In [13]:
math.floor(2.45) # return the integer < x

2

In [14]:
math.floor(0.24)

0

In [15]:
math.floor(-2.5)

-3

In [16]:
5//3  # return the floor

1

In [17]:
5%3   # module--return the remainder

2

In [18]:
math.degrees((math.pi)/2)  # convert an angle from  radians to degrees

90.0

In [19]:
math.radians(90)  # convert 90 degrees to radians

1.5707963267948966

In [20]:
math.degrees(1.571)  # convert radians to 90 degrees

90.01166961505233

## Quiz on math:

In [21]:
#1. Find the minimum of -5 and -7:

In [22]:
#2. Find the max of 0 and -5

In [23]:
#3. Find the quotient of 19 and 5

In [24]:
# 4. Find the product of -0.5 and 29

In [25]:
#5. Find the absolute value of -99 and 5

In [26]:
#6. what is the solution for 525 to the power of 1/2; what is 3 to the power of 5?

In [27]:
# 7. What is the ceiling of 3.45? -3.45?

In [28]:
#8. What is the floor of 3.45?  -3.45?

In [29]:
#9. Conver radian 2pi into degree.

In [30]:
#10. Convert 90 degree into radian

### Python builtin function:

In [31]:
help(math.log2)

Help on built-in function log2 in module math:

log2(x, /)
    Return the base 2 logarithm of x.

In [33]:
# Example: Find the result of base 2 log of 4

math.log2(4)

2.0

###  Operation above  means 2^2 = 4 so log2(4)=2 
or math.pow(2,2)= 4

In [34]:
# try base 10 log10() 
# example :

math.log10(100)

2.0

In [35]:
# because:
10**2

100

In [73]:
# natural log(x) with only one parameter 
math.log(2.718281829)  # natural numbe e is very close to 2.718281829 or just 2.72 with two decimal places

1.0000000001990061

### Quiz: using math.log() with diff bases: 
### *** The base and X is always greater than 0 for log(X,base) = exp  exponent could be or or negative

In [ ]:
# Find the natural log of 24:

In [ ]:

# find the result of base 10 log of 10K:

In [ ]:
# Find the result of natural log of 5.5:

In [ ]:
# Find log10(x) x= 1/1000:

In [ ]:
# Find log2(x) if  8 and x = 1/16

In [81]:
# When there are two parameters inside the log function math.log(x, base)
# example: 

math.log(25, 5)

2.0

In [84]:
# # The above operation means
5**2

25

In [85]:
# or you could use math.pow(base, power):
math.pow(5,2)

25.0

In [82]:
# Find the result of log with base 3 of 27:
math.log(27,3)

3.0

In [83]:
# so 
3**3

27

In [86]:
# math.pow(base, power):

math.pow(3,3)

27.0

In [ ]:
# Find the result of log with base 6 of 36:

In [ ]:
# Find the result of log wuth base 5 of 125:

In [ ]:
# Find the result of log with base 1000 of 10:

In [ ]:
# Two ways to do the reverse operation of the above: 
#1. base**power:

In [ ]:
# 2. math.pow(base, power) :

In [ ]:
# Find the result of log with base 25 of 5:

In [ ]:
# two ways to do the reverse operation of the above: 
#1. base**power:

In [ ]:
# 2. pow(base, power)

### Range function: range(start,stop, step)--start by defalt from 0, step 1 by default
### The range() function returns a sequence of numbers,
### starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [32]:
for i in range(1,6,2):  # range(first,last, step)
    print (i)

1
3
5

In [ ]:
# To loop through a set of code a specified number of times, we can use the range() function,

In [76]:

x=range(6)
for i in x:
    func= 2*i
    print(func)

0
2
4
6
8
10

In [ ]:
## list(), tutple(), set(), dict() are all built in functions

In [91]:
L1=list(range(1,4))
L1

[1, 2, 3]

In [92]:
for i in L1:
    M=2**i
    print(M)

2
4
8

In [99]:
L2=list(range(2,8,2))
L2

[2, 4, 6]

In [100]:
for m in L2:
    G=math.pow(m,2)
    print(G)

4.0
16.0
36.0

In [101]:
# Join two list together (1)
L3=L1+L2
L3

[1, 2, 3, 2, 4, 6]

In [102]:
L3.sort()
L3

[1, 2, 2, 3, 4, 6]

In [103]:
for i in L3:
    Power=math.pow(i,3)
    print(Power)

1.0
8.0
8.0
27.0
64.0
216.0

In [123]:
for i in L3:
    LOG=math.log(i,3)
    print(LOG)

0.0
0.6309297535714574
0.6309297535714574
1.0
1.2618595071429148
1.6309297535714573

In [146]:
# Join two lists(2)
for x in L1:
    L2.append(x)
print(L2)

[2, 4, 6, 1, 2, 3, 1, 2, 3, 2, 4, 6, 1, 2, 3, 1, 2, 3, 2, 4, 6, 1, 2, 3, 2, 4, 6, 1, 2, 3, 1, 2, 3, 2, 4, 6, 1, 2, 3]

In [147]:
# Join two lists (3)
L1.extend(L2)  # New L2 above L2= [2, 4, 6, 1, 2, 3]
print(L1)

[1, 2, 3, 2, 4, 6, 1, 2, 3, 2, 4, 6, 1, 2, 3, 1, 2, 3, 2, 4, 6, 1, 2, 3, 2, 4, 6, 1, 2, 3, 1, 2, 3, 2, 4, 6, 1, 2, 3, 1, 2, 3, 2, 4, 6, 1, 2, 3, 2, 4, 6, 1, 2, 3, 1, 2, 3, 2, 4, 6, 1, 2, 3]

In [148]:
T=tuple(range(6))
T

(0, 1, 2, 3, 4, 5)

In [149]:
L4=list(T)
L4

[0, 1, 2, 3, 4, 5]

In [150]:
for i in L2:
    L=math.log(3,i)  #math.log(x,base)
    print(L)

1.5849625007211563
0.7924812503605781
0.6131471927654585

ZeroDivisionError: float division by zero

In [151]:
S=set(range(1,6))
S

{1, 2, 3, 4, 5}

In [152]:
for i in S:
    P=math.pow(i,i)
    print(P)

1.0
4.0
27.0
256.0
3125.0

In [153]:
#S=[1,2,3,4]
for i in S :
    L=math.log(i,5)  # for log(X,base)=exp   X is alway greater 0  base is always Greater than 0
    print(L)

0.0
0.43067655807339306
0.6826061944859854
0.8613531161467861
1.0

In [89]:
dict(range(5))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [159]:
i=0
for i in range(1,10):
    if i%2==0:
        L=2**i
        print("2 to the even power is {}.".format(L))  # string on can be combined with as string
    else:
        J=3**i
        print("3 to the odd power is {}.".format(J))  # using format() can combine a string and a number

3 to the odd power is 3.
2 to the even power is 4.
3 to the odd power is 27.
2 to the even power is 16.
3 to the odd power is 243.
2 to the even power is 64.
3 to the odd power is 2187.
2 to the even power is 256.
3 to the odd power is 19683.

### use for loop and range() to print out the results for each number in the range(starting,10, step)

In [ ]:
# loop trough range(start,10,step) to find the result of a number to the even power:

In [ ]:
# find a list of a number to the odd power:

### Lambda function:  lambda  arguments: expression
### A lambda function is a small anonymous function.

### A lambda function can take any number of arguments, but can only have one expression.
lambda x,y: x+y  or lambda x,y,z: x*y*z

In [102]:
x= lambda a: a*2
print(x(2))

4

In [103]:

y=lambda a,b,c : a+b*c  # a plus the productt of arguments b and c 
y(2,3,4)                 # return a result with the numbers for the argument

14

In [104]:
y(-4,2,3)           # return the result when assign values to the arguments

2

In [21]:
a=float(input("enter a number: "))
SQRT=lambda a: math.sqrt(a)
EXP=lambda a: math.exp(a)  # base e^a

print(SQRT(a))
print(EXP(a))

enter a number: 10
3.1622776601683795
22026.465794806718

In [23]:
math.exp(1) # find the power of a base e, Returns e raised to the power of x: math.exp(x)

2.718281828459045

In [4]:
i=input("Enter a number: ")

def calculator(n):
    func = lambda i: i*n
    return func

calculator(2)(float(i))

Enter a number: 2

4.0

##  Use Lambda, input and dict to make a calculator:

In [9]:
operators = {"+": lambda a, b: a+b,
          "-": lambda a, b: a-b,
          "*": lambda a, b: a*b,
          "/": lambda a, b: a/b}
func = operators[input("operator: ")]
a = float(input("a: "))
b = float(input("b: "))
print(func(a, b))

operator: /
a: 5
b: 3
1.6666666666666667