## Quiz 1:  you will be tested on syntax of print out, comment, variables, data type(), 
## numbers, strings, casting, arithmetics on numbers

#### 1.  type  the syntax of a comment: this is the comment:

In [1]:
#this isnt a comment

#### 2. print out  'Hello dear!'

In [2]:
print('Hello dear!')

Hello dear!

#### 3. type(a ) could find the type of a variable. Types of numbers are int, float and complex
#### Now assign numbers 5, 2,6 and 5j to variables x, y and z, and print out x, y and z:

In [10]:
x= 5
y= 2.6
z= 5j

In [11]:
z

5j

In [12]:
print(x)
print(y)

5
2.6

#### 4. use type(a)  a is the variable or any number or string to specify the types of x , y and z and print them out:

In [13]:
print(type(x))
print(type(z))
print(type(y))

<class 'int'>
<class 'complex'>
<class 'float'>

In [ ]:
## Example:   a= 6   print( type(a))    result: int

#### 5.  Arithmetic operators: add(+), subtract(-), multiply(*) or divide (/ ) , module(%) -find the remainder , exponemtial (**)- to the power of two
####  numbers:

In [29]:
# assign 5 to x and 8 to y: 
x=5
y=8

# add x and y and then print it out:
x+y

13

In [30]:
# subtract x from y and then print it out:

y-x

3

In [31]:
# multiply x and y and print out the result:

x*y

40

In [32]:
# divide x from y and print out the result:
y/x

1.6

In [33]:
# find the module( remainder of x and y):

y%x

3

In [34]:
# print out the result of x to the power of y: 

x**y

390625

In [35]:
y//x

1

##### 6. assignment operators: assign value to a varaible:  x+= 3 means x= x+3    x-= 5 means x = x-5 , x *=2 means x= x*2

In [26]:
# Examples: 
x= 10  # x first was assigned a value 10 
x +=3  # now x= 10+3 
x   # the result of the new value of x  or print(x)

13

In [27]:
# print out x*=5 

x*=5
x # x= 13*5

65

### Casting in python is therefore done using constructor functions:

#### int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal
#### (providing the string represents a whole number)
#### float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string #####represents a float or an integer)
#### str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [5]:
#### Example: construct an integer from 
print(int(2.3))

2

In [6]:
### construct a string of int 3
print(str(3))

3

In [7]:
type(str(3))

str

##### 7. Casting: construct an integer of the following: 5, 4.6,  '3 '   and print out the result:

In [41]:
print(complex(5))
print(int(4.6))
print(float('3'))

(5+0j)
4
3.0

#### 8. Construct a string of the numbers: 8 and 2.5 and print out the result:

In [42]:
str(8)

'8'

In [43]:
str(2.5)

'2.5'

#### 9. print out a string:  .  using backslash  \ to escape a character for example ''

In [8]:
print("My dog's name is 'Joy'")  # use single quotation inside a double quatation( for a string ) is legal

My dog's name is 'Joy'

In [15]:
print( "My dog's name is \" joy\" ")  # use backslash to escape the "

My dog's name is " joy"

In [5]:
### print out the text :They are the so called "Geeks" in someone's eyes. 

print('They are the so called \"Geeks\" in someone\'s eyes.' )

They are the so called "Geeks" in someone's eyes.

#### String Concatenation
##### 10. To concatenate, or combine, two strings you can use the + operator.  to add a space between two strings   str1+ " "+  str2

In [1]:
### assign Hello to a and world to b and comebine them together, print out the result: 
a='Hello'
b='world'
a+" "+b

'Hello world'

In [21]:
## Example:
x= "Hello"
y= "Daddy"
x+" "+y

'Hello Daddy'

In [29]:
b='1 2 3 4 5 6'.split(" ")  # using split() method to split the string on spaces
print(b)

['1', '2', '3', '4', '5', '6']

In [30]:
len(b)   # function length of the string

6

In [35]:
M='a b c d e f g'
M.upper()              # capitalize the string using method upper()

'A B C D E F G'

In [36]:
"hello".title()   # capitalize the first character of the string using title() method

'Hello'

### A string is an array. methods for array could be used on strings

#### We can't combine strings and numbers together  such as  age= 36, txt= " My name is Jenny and I am  " + age 
### But we can combine strings and numbers by using the format() method!

### The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [38]:
age = 47
txt =" I am Jenny and I am {}."
print(txt.format(age))

 I am Jenny and I am 47.

In [40]:
### The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
a= 3 
b= 2.56
c= 2

txt= " I want to buy {} apples that is {} lbs and the price is {} dollars."
print(txt.format(a,c,b))

 I want to buy 3 apples that is 2 lbs and the price is 2.56 dollars.

In [41]:
## You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
a= 3 
b= 2.56
c= 2

txt= " I want to buy {0} apples that is {2} lbs and the price is {1} dollars."
print(txt.format(a,b,c))  # the arguments of format a b c are pleaced in order 0, 1,2

 I want to buy 3 apples that is 2 lbs and the price is 2.56 dollars.

#### 11. to combine strings and numbers using method format(a,b,c...) with  unlimited arguments 
#### Print out the test: My mom and my dad are both 47 years old.

In [48]:
age=47
age2=50
txt='My mom and my dad are both {} years old.(they are almost {} lol)'
print(txt.format(age,age2))

My mom and my dad are both 47 years old.(they are almost 50 lol)

#### 12. Accessing an element or the range of a string:
#### a[1]--find the element of first position( string starts at position 0)
#### a[1:5]---find the elements from position 1 to 4

In [50]:
### let a ="Hello World", find the first charcter of the string:
a= "Hello world"
print(a[0])

H

In [52]:
# Get the characters from index 2 to index 4 (llo)

print(a[2:5])

llo

### Modify stings:
#### Python has a set of built-in methods that you can use on strings
#### uppercase: upper( ), lower case" lower(), split(" ") or split(" ,"),  strip()-remove whitespace,  replace("H", "J") -replace the #### letter H by J

In [53]:
a = "Hello, world "

# upper case:
print(a.upper())

HELLO, WORLD

In [54]:
# Lower case
a.lower()

'hello, world '

In [55]:
# split()
a.split(",")  # split into two strings by ","

['Hello', ' world ']

In [56]:
# remove white or blank space from the beginning or the end:
a.strip()

'Hello, world'

In [60]:
"  hello world".strip().title()  # remove whitespace  from the beginning and capitalize the first character of each word

'Hello World'

In [61]:
# replace 
" Jenny is my friend ".replace("J", " K").strip()  # Replace J by K and remove the whiteplaces from the beginning and end

'Kenny is my friend'

In [69]:
"my Name is Lan".capitalize() # convert  the first character to upper case and the rest lower
    case.

'My name is lan'

In [68]:
a.find("d")  # Searches the string for a specified value and returns the position of where it was found

11

In [70]:
## help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [1]:
"jAnI HU is a good ".title()

'Jani Hu Is A Good '